@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lora";
    src: local("Lora"), url("fonts/Lora/Lora-Variable.ttf");
  }
  @font-face {
    font-family: "Work";
    src: local("Work"), url("fonts/Work/Work-Variable.ttf");
  }
}

@layer utilities {
  .brutal-box {
    @apply border-2 border-black rounded-box;
  }

  .brutal {
    @apply flex items-end border-2 border-black;
  }

  .brutal:hover {
    @apply -translate-x-1 -translate-y-1 brutal-shadow;
  }

  .brutal-shadow {
    box-shadow: 4px 4px 0 0 black;
  }

  .brutal-input-raised {
    @apply focus:-translate-x-1 focus:-translate-y-1 focus:brutal-shadow focus:outline-none focus:border-2 focus:border-base-content focus:ring-0;
  }

  .btn {
    @apply border-2 border-black transition no-animation -translate-x-1 -translate-y-1 brutal-shadow;
  }

  .btn:hover {
    @apply border-2 border-black;
  }

  .btn:active {
    @apply translate-x-0 translate-y-0 shadow-none;
  }

  .brutal-input {
    @apply p-4 brutal-box focus:brutal-input-raised;
  }

  .brutal-link {
    @apply relative after:absolute after:bg-base-content after:bottom-0 after:left-0 after:h-[1px] after:w-full after:translate-y-1 after:opacity-0 hover:after:translate-y-0 hover:after:opacity-100 after:transition after:ease-in-out after:duration-200;
  }
}

#root {
  @apply center h-screen min-h-0 w-screen transitional bg-base-100 flex-col relative;
}

.center {
  @apply flex items-center justify-center;
}

.transitional {
  @apply transition-all duration-300 ease-out;
}

.resp-text-sm {
  @apply text-xs md:text-sm xxl:text-base;
}

.resp-text {
  @apply text-sm md:text-base xxl:text-xl;
}

.resp-text-lg {
  @apply text-base md:text-lg xxl:text-2xl;
}

.resp-title {
  @apply text-base xl:text-xl;
}

.resp-btn {
  @apply btn-xs md:btn-sm xxl:btn-md;
}

.resp-icon {
  @apply size-4 lg:size-6 xxl:size-6;
}

.resp-gap {
  @apply gap-2 xxl:gap-4;
}

.text-40 {
  @apply text-base-content/40;
}

.text-60 {
  @apply text-base-content/60;
}

.text-80 {
  @apply text-base-content/80;
}
